<div class="container">
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
  >
    <h2 class="h2">Image List</h2>
    <button class="btn btn-sm btn-danger" (click)="loadData()">Load Data</button>
  </div>
  <div>
    <table class="table table-striped">
      <thead class="f1">
        <tr>
          <th scope="col">File id</th>
          <th scope="col">File Name</th>
          <th scope="col">File type</th>
          <th class="text-center" scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let file of files; let i = index">
          <th scope="row">{{ file.file_id }}</th>
          <td>{{ file.file_name }}</td>
          <td>{{ file.mime_type }}</td>
          <td class="text-center">
            <button class="btn btn-sm btn-danger" (click)="delete(file.file_id, i)"> Delete </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
